<form>
    <div class="form-group">
        <label for="search-term">Search StackOverflow:</label>
        <input type="text" class="form-control" id="search-term" aria-describedby="emailHelp"
            placeholder="HTML">
        <small id="search-help" class="form-text text-muted">Enter term to search StackOverflow</small>
    </div>
    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/user-search.js"></script>